venv*
.idea*
tst*
state*
junk/*
huggingface_*
junk/logs
papers*
hf*
junk/data/*
research_dir/*
.DS_Store
state_saves/*
__pycache__/*
Figure*.png
testrun.py
# Agent logs
agent_logs/*
!agent_logs/.gitkeep
__pycache__/
agent_logs/
research_dir/
*.pyc